.photo-grid{
    display: grid;
    width: 92.5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto 92px;
    grid-gap: 16px;
}

@media screen and (min-width: 524px) and (max-width: 992px){


    .photo-grid{
        max-width: 94%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 4fr);
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 523px){

    .photo-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        max-width: 90%;
        margin: 0 auto 62px;
    }
}