.places{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 12% 92px;
    justify-content: center;
    row-gap: 80px;
}

@media screen and (min-width: 524px) and (max-width: 992px) {

    .places {
        width: 94%;
        margin: 0 auto 92px;
    }
}

@media screen and (max-width: 523px){
    .places{
        min-width: 90%;
        margin: 0 auto 64px;
    }
}