.intro__text_inf{
    font-size: 16px;
    line-height: 1.63;
}

@media screen and (min-width: 524px) and (max-width: 992px){


    .intro__text_inf{
        max-width: 98%;
    }
}

@media screen and (max-width: 523px){


    .intro__text_inf{
        max-width: 100%;
    }
}