.cover__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    z-index: 3;
    row-gap:32px;
}

@media screen and (max-width: 523px){

    .cover__group{
        row-gap:16px;
    }
}