@import url('../fonts/Inter Web/inter.css');

/*
div, section, header, main, footer{
    border:1px solid red;
}
*/

.page{
    min-width: 1280px;
    background-color: #2A2C2F;
}

.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.logo__image{
    margin: 32px auto 90px;
    width: 270px;
}

.lead{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 77%;
    margin: 0 auto 92px;
}

.lead__title{
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
    width: 80%;
}

.lead__subtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    /* or 120% */
    text-align: center;
    margin: 32px auto 64px;
    color: #FFFFFF;
    width: 73%;
}

.lead__image{
    width: 100%;
}

.intro{
    width: 80%;
    margin: 0px 7% 92px 12%;
}

.intro__title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    /* or 107% */
    color: #FFFFFF;
    margin: 0 0 40px;
}

.intro__text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 71%;
}

.intro__text_sup{
    font-size: 24px;
    line-height: 1.42;
    /* or 142% */
    margin: 0 0 2px;
}

.intro__text_quote{
    font-size: 24px;
    line-height: 1.42;
    /* identical to box height, or 142% */
    text-align: right;
    margin: 0 0 42px;
}

.intro__text_inf{
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
}

.photo-grid{
    display: grid;
    width: 92.5%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto 92px;
    grid-gap: 16px;
}

.photo-grid__image{
    width: 100%;
}

.places{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 12% 92px;
    justify-content: center;
    row-gap: 80px;
}

.place{
    display: grid;
    grid-row-gap: 48px;
    grid-column-gap: 40px;

    flex-direction: column;
    width: 100%;
    /*height: 756px;*/

    grid-template: "title website" auto
                   "image paragraphs" auto
                   "button ." auto;

}

.place__title{
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    max-width: 460px;
    grid-area: title;
}

.place__website{
    width: 100%;
    grid-area: website;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 8px;
}

.place__url-heading{
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.12em;
    text-transform: uppercase;

    color: #AAAAAA;
}

.place__url-artist{
    margin: 0;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    color: #FFFFFF;
}

.place__image{
    max-width: 460px;
    grid-area: image;
}

.place__paragraphs{
    grid-area: paragraphs;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.place__paragraph{
    margin: 0;
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;
}

.place__frame{
    grid-area: button;
    width: 355px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    text-decoration: none;
    padding: 13px 20px;

    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}

.place__frame:hover{
        background-color: #0063D2;
    }

.cover{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 92.5%;
    margin: 0 auto 92px;
}

.cover__group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
    position: absolute;
    z-index: 3;
    row-gap:32px;
}

.cover__title{
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    /* identical to box height, or 106% */
    text-align: center;
    color: #FFFDFD;
    margin: 0 auto;
}

.cover__subtitle{
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    text-align: center;

    color: #FFFFFF;
    margin: 0 auto;
    white-space: pre;
}

.cover__frame{
    grid-area: button;
    width: 191px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    text-decoration: none;
    padding: 13px 20px;

    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    margin: 0 auto;
    transition: background-color 0.3s ease-in;
}

.cover__frame:hover{
        background-color: #0063D2;
    }


.cover__overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s ease-in;
}

.cover:hover > .cover__overlay{
    opacity: 0.8;
}

.cover__image{
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: center;
}

.footer_copyright{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14%;
    margin-bottom: 24px;
    color: #FFFFFF;
}

@media screen and (min-width: 524px) and (max-width: 992px){

    /*div, section, header, main, footer{
    border:1px solid blue;
    }*/

    .page{
        min-width: 768px;
    }

    .lead{
        width: 100%;
    }

    .intro{
        margin: 0 auto;
        min-width: 95%;
    }

    .intro__title{
        width: 100%;
    }

    .intro__text_sup, .intro__text_quote, .intro__text_inf{
        width: 100%
    }

    .photo-grid{
        width: 94%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 4fr);
    }

    .places{
        width: 94%;
        margin: 0 auto 92px;
    }

    .place__image{
        max-width: 340px;
    }

    .place__title{
        max-width: 340px;
    }

    .place__paragraph{
        font-size: 16px;
    }

    .cover{
        width: 100%;
    }
}

@media screen and (max-width: 523px){
    /*div, section, header, main, footer{
    border:1px solid green;
    }*/

    .page{
        min-width: 320px;
    }

    .logo__image{
        margin: 20px auto 50.15px;
        width:200px;
    }

    .lead{
        width: 100%
    }

    .lead__title{
        font-size: 40px;
        line-height: 1.1;
        width: 95%;
    }

    .lead__subtitle{
        font-size: 16px;
        line-height: 1.1;
        width: 95%;
    }

    .intro{
        margin: 0 auto 38px;
        min-width: 90%;
    }

    .intro__title{
        font-size: 32px;
        line-height: 1.09;
        width: 100%;
    }

    .intro__text_sup{
        font-size: 24px;
        width: 100%;
        margin: 0;
    }

    .intro__text_quote{
        font-size: 24px;
        width: 100%;
    }

    .intro__text_inf{
        font-size: 16px;
        width: 100%;
    }

    .photo-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        max-width: 90%;
    }

    .places{
        min-width: 90%;
        margin: 0 auto 64px;
    }

    .place{
        display: flex;
        row-gap: 30px;
        flex-direction: column;

        width: 100%;
        /*height: 756px;*/
    }

    .place__title{
        font-size: 32px;
        line-height: 1.09;
        min-width: 95%;
        margin: 0 auto;
    }

    .place__website{
        position: relative;
        max-width: 95%;
        margin: 0 auto;
    }


    .place__image{
        position: relative;
        min-width: 100%;
    }

    .place__paragraph{
        max-width: 95%;
        margin: 0 auto;
    }

    .place__frame{
        width: 288px;
        height: 48px;
        font-size: 14px;
        line-height: 17px;
        align-self: center;
    }



    .cover{
        margin: 0 0 64px;
        width: 100%;
    }

    .cover__group{
        row-gap:16px;
    }

    .cover__title{
        font-size: 32px;
        line-height: 1.09;
    }

    .cover__subtitle{
        font-size: 14px;
        line-height: 1.14;
        /* or 114% */
    }

    .cover__frame{
        width: 191px;
        height: 48px;
    }

    .footer_copyright{
        line-height: 1;
    }
}
