.place__paragraph{
    margin: 0;
    width: 100%;
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;
}

@media screen and (min-width: 524px) and (max-width: 992px){


    .place__paragraph{
        font-size: 16px;
    }
}

@media screen and (max-width: 523px){

    .place__paragraph{
        max-width: 95%;
        margin: 0 auto;
    }
}