.place__frame{
    grid-area: button;
    width: 355px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    text-decoration: none;
    padding: 13px 20px;

    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in;
    box-sizing: border-box;
}

.place__frame:hover{
        background-color: #0063D2;
    }


@media screen and (max-width: 523px){

    .place__frame{
        max-width: 288px;
        max-height: 48px;
        font-size: 14px;
        line-height: 1.17;
        align-self: center;
        padding: 16px 20px;
    }
}