.lead__image{
    max-width: 100%;
}

@media screen and (min-width: 524px) and (max-width: 992px) {
    .lead__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 523px){
    .lead__image{
        max-width: 100%;
    }
}