.intro{
    max-width: 80%;
    margin: 0px 7% 92px 12%;
}

@media screen and (min-width: 524px) and (max-width: 992px){
.intro{
        margin: 0 auto 64px;
        max-width: 95%;
    }
}

@media screen and (max-width: 523px){
    .intro{
        margin: 0 auto 38px;
        max-width: 90%;
    }
}