.lead__subtitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    /* or 120% */
    text-align: center;
    margin: 32px auto 64px;
    color: #FFFFFF;
    max-width: 73%;
}

@media screen and (min-width: 524px) and (max-width: 992px) {
    .lead__subtitle {
        margin: 99px auto 69px;
        max-width: 95%;
    }
}

@media screen and (max-width: 523px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.1;
        max-width: 95%;
        margin: 60px auto 40px;
    }
}