.cover__title{
    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    /* identical to box height, or 106% */
    text-align: center;
    color: #FFFDFD;
    margin: 0 auto;
}

@media screen and (max-width: 523px){

    .cover__title{
        font-size: 32px;
        line-height: 1.09;
    }
}