.cover__frame{
    grid-area: button;
    width: 191px;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    text-decoration: none;
    padding: 13px 20px;

    font-family: 'Inter', 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin: 0 auto;
    transition: background-color 0.3s ease-in;
    box-sizing: border-box;
}

.cover__frame:hover{
        background-color: #0063D2;
}

@media screen and (max-width: 523px){

    .cover__frame{
        max-width: 191px;
        max-height: 48px;
    }
}